* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

header .logo {
    width: 30%;
    display: flex;
    flex-direction: row;
}

header .logo img {
    width: 5rem;
    height: 5rem;
}

header .logo h1 {
    padding: 1.2rem;
}

header nav {
    text-align: right;
    display: inline-block;
    width: 60%;
    padding: .8rem;
}

header ul {
    list-style: none;
    display: inline-block;
}

header ul li {
    padding: 1rem;
    display: inline-block;
}

header ul li:hover {
    padding: 1rem;
    display: inline-block;
    border-radius: 70%;
    color: #fff;
    background-color: #333;
}

header ul li a {
    text-decoration: none;
}

header ul li a:visited {
    text-decoration: none;
    color: white;
}